
  .school-list-container {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 0 20px;
  }
  
  .school-record-list {
    overflow-y: scroll;
    height: 95vh;

  }
  
  .school-list-viewer {
    flex: 1;
    padding: 0 20px;
    border-left: 1px solid #ccc; /* Add border between list and viewer */
    margin-left: 20px; /* Add space between list and viewer */
    margin-bottom: 20px;
  }
  
  .school-list-viewer h1 {
    margin-bottom: 10px;
  }

  .school-viewer-section{
    margin-bottom: 5rem;
  }
  
 
  
  .school-record {
    padding: 5px 0;
    border-bottom: 1px solid #eee; /* Add border between school records */
  }
  
  .school-record:last-child {
    border-bottom: none; /* Remove border from last school record */
  }
  
